:host {
  display: block;
}

.padre {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

button {
  cursor: pointer;
  padding: 4px 16px;
  background-color: transparent;
  border: 1px solid rebeccapurple;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(102, 51, 153, 0.2);
}
